table {
    min-width: 600px;
}

.link-container {
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

td {
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.center {
    text-align: center;
}


.container {
    margin-top: 80px;

}

.min-width-button {
    min-width: 600px;
}
