<div fxLayout="column" fxLayoutAlign="start center" class="container">
    <h1 class="mat-h1">
        Orders
    </h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="center"> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef class="center">User</th>
            <td mat-cell *matCellDef="let element"> {{element.userName}}</td>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef class="center">Updated at</th>
            <td mat-cell *matCellDef="let element"> {{element.dateTime}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef class="center">State</th>
            <td mat-cell *matCellDef="let element"> {{element.state}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="center"> Actions</th>
            <td mat-cell *matCellDef="let element">
                <a mat-button color="primary" [routerLink]="['/order/', element.id]">Update</a>
                <a mat-button color="accent" [routerLink]="['/order/copy/', element.id]">Copy</a>
                <button mat-button color="warn" (click)="onClickDelete(element.id)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div class="link-container">
        <a class="min-width-button" mat-raised-button routerLink="/order/create" color="primary">Add</a>
    </div>
</div>
