<div class="create-product-container">
  <h1 class="mat-h1">
    Add product
  </h1>
  <form [formGroup]="createProduct" autocomplete="off" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="createProduct.get('name').invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Cost" formControlName="cost" required min="0">
      <mat-error *ngIf="createProduct.get('cost').invalid">{{getCostErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Tax" formControlName="tax" required min="0">
      <mat-error *ngIf="createProduct.get('cost').invalid">{{getTaxErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput required formControlName="description" placeholder="Description"></textarea>
      <mat-error *ngIf="createProduct.get('description').invalid">{{getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Categories" formControlName="categories" multiple>
        <mat-option *ngFor="let category of categoriesList" [value]="category.id">{{category.name}}</mat-option>

      </mat-select>
    </mat-form-field>
    <button class="example-full-width" mat-raised-button color="primary" [disabled]="!createProduct.valid">Add</button>
  </form>
</div>
